.ngxImageZoomContainer {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.ngxImageZoomFull {
    position: absolute;
    max-width: none;
    max-height: none;
    display: none;
}

.ngxImageZoomFullContainer {
    position: absolute;
    overflow: hidden;
}

.ngxImageZoomFullContainer.ngxImageZoomLensEnabled {
    border: 2px solid red;
    cursor: crosshair;
}
